{% extends "tbw_core/__base.html" %}

{% load static %}

{% block content %}
<div class="card shadow">
  <div class="card-header">
    All Repositories
  </div>
  <div class="card-body">
    <table class="table align-middle">
      <thead class="thead-light">
        <tr>
          <th scope="col">Location</th>
          {% if user.is_superuser %}
          <th scope="col">Owner</th>
          {% endif %}
          <th scope="col">Size (total/unique/compressed)</th>
          <th scope="col">Last update</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for repository in repository_list %}
        <tr>
          <td>
            <a href="{% url 'repository' repository.id %}">
              <img style="height: 25px" src="{% static 'tbw_core/adwaita_scalable/apps/system-file-manager-symbolic.svg' %}" />
              {{ repository.location }}{% if repository.pattern %} ({{ repository.pattern }}) {% endif %}
            </a>
          </td>
          {% if user.is_superuser %}
          <td>{{ repository.user }}</td>
          {% endif %}
          <td>{{ repository.total_size|filesizeformat }} / {{ repository.unique_size|filesizeformat }} / {{ repository.compressed_size|filesizeformat }}</td>
          <td>{{ repository.last_update }}</td>
          <td>
            <a type="button" class="btn btn-warning btn-sm" href="{% url 'edit_repository' repository.id %}">
              <img class="img-fluid" src="{% static 'tbw_core/adwaita_scalable/actions/document-edit-symbolic.svg' %}" title="Edit" />
            </a>
            <a type="button" class="btn btn-warning btn-sm" href="{% url 'scan_repository' repository.id %}">
              <img class="img-fluid" src="{% static 'tbw_core/adwaita_scalable/actions/view-refresh-symbolic.svg' %}" title="Refresh" />
            </a>
            <a type="button" class="btn btn-warning btn-sm" href="{% url 'delete_repository' repository.id %}">
              <img class="img-fluid" src="{% static 'tbw_core/adwaita_scalable/places/user-trash-symbolic.svg' %}" title="Delete" />
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}