{% extends "tbw_core/__base.html" %}

{% load static %}

{% block actions %}
<div class="btn-group px-1">
    <a type="button" class="btn btn-secondary" href="{% url 'repository' archive.repository.id %}"><img class="img-fluid" style="height: 25px" src="{% static 'tbw_core/adwaita_scalable/apps/system-file-manager-symbolic.svg' %}" /> {{ archive.repository.location }}</a>
  </div>
  <div class="btn-group px-1">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img style="height: 25px" src="{% static 'tbw_core/adwaita_scalable/mimetypes/package-x-generic-symbolic.svg' %}"/> {{ archive.name }}
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="{% url 'delete_archive' archive.id %}">Delete</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="{% url 'scan_archive' archive.id %}">Scan Now</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="card shadow">
  <div class="card-header">
    Archive {{ archive.name }} ({{ page_obj.paginator.count }} files)
  </div>
	<div class="card-body">
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">Path</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% if path %}
				{% if parent_pk %}
				<tr>
				    <td><a href="{% url 'archive' archive.id %}?file={{ parent_pk }}"><img src="{% static 'tbw_core/adwaita_scalable/places/folder-symbolic.svg' %}"/> ..</a></td>
				</tr>
				{% else %}
				<tr>
				    <td><a href="{% url 'archive' archive.id %}"><img src="{% static 'tbw_core/adwaita_scalable/places/folder-symbolic.svg' %}"/> ..</a></td>
				</tr>
				{% endif %}
				{% endif %}
				{% for file in object_list %}
				<tr>
					{% if file.type == 'd' %}
					<td>{% if deep_scan %}<a href="{% url 'archive' archive.id %}?file={{ file.id }}">{% endif %}<img src="{% static 'tbw_core/adwaita_scalable/places/folder-symbolic.svg' %}"/> {{ file.path }}{% if deep_scan %}</a>{% endif %}</td>
					{% else %}
					<td><img src="{% static 'tbw_core/adwaita_scalable/places/folder-documents-symbolic.svg' %}"/> {{ file.path }}</td>
					{% endif %}
					<td><a type="button" class="btn btn-warning" href="{% url 'restore_file' archive.id file.id %}"><img src="{% static 'tbw_core/adwaita_scalable/actions/document-save-symbolic.svg' %}" title="Restore" /></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if is_paginated %}
			{% include "tbw_core/_pagination.html" %}
		{% endif %}
	</div>
</div>
{% endblock %}
