{% extends "tbw_core/__base.html" %}
{% block content %}
<form action="{% url 'delete_archive' archive.id %}" method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete {{ object.name }}?</p>
    <input type="submit" name="action" value="Confirm" />
    <input type="submit" name="cancel" value="Cancel" />
</form>
{% endblock %}
