{% extends "tbw_core/__base.html" %}
{% block content %}
<form action="{% url 'delete_repository' repository.id %}" method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete {{ object.location }}?</p>
    <p>
      <input type="checkbox" id="delete_on_disk" name="delete_on_disk" unchecked />
      <label for="delete_on_disk">Delete on disk ?</label>
    </p>
    <input type="submit" name="action" value="Confirm" />
    <input type="submit" name="cancel" value="Cancel" />
</form>
{% endblock %}
