{% extends "tbw_core/__base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit Repository</h3></div>
            <div class="card-body">
                <form action="{% url 'edit_repository' repository.id %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center">
                      <input type="submit" class="btn btn-warning" name="action" value="Update" />
                      <input type="submit" class="btn btn-warning" name="cancel" value="Cancel" />
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("id_location").classList.add("form-control");
    document.getElementById("id_location").placeholder = "path to the borg repository";
    document.getElementById("id_encryption_key").classList.add("form-control");
    document.getElementById("id_pattern").classList.add("form-control");
    document.getElementById("id_deep_scan").classList.add("form-check-input");
    document.getElementById("id_ssh_config").classList.add("form-control");
    document.getElementById("id_ssh_id").classList.add("form-control");
</script>
{% endblock %}
