{% extends "tbw_core/__base.html" %}

{% load static %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header">
        Repositories status
      </div>
      <div class="card-body">
        <table class="table align-middle">
          <thead class="thead-light">
            <tr>
              <th scope="col">Location</th>
              {% if user.is_superuser %}
              <th scope="col">Owner</th>
              {% endif %}
              <th scope="col">Size (total/unique/compressed)</th>
              <th scope="col">Last update</th>
            </tr>
          </thead>
          <tbody>
            {% for repository in repository_list %}
            <tr>
              <td>
                <a href="{% url 'repository' repository.id %}">
                  <img style="height: 25px" src="{% static 'tbw_core/adwaita_scalable/apps/system-file-manager-symbolic.svg' %}" />
                  {{ repository.location }}{% if repository.pattern %} ({{ repository.pattern }}) {% endif %}
                </a>
              </td>
              {% if user.is_superuser %}
              <td>{{ repository.user }}</td>
              {% endif %}
              <td>{{ repository.total_size|filesizeformat }} / {{ repository.unique_size|filesizeformat }} / {{ repository.compressed_size|filesizeformat }}</td>
              <td>{{ repository.last_update }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}