{% extends "tbw_core/__base.html" %}

{% load static %}

{% block actions %}
<div class="btn-group px-1">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <img style="height: 25px" src="{% static 'tbw_core/adwaita_scalable/apps/system-file-manager-symbolic.svg' %}"/> {{ repository.location }}
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="{% url 'edit_repository' repository.id %}">Edit</a></li>
      <li><a class="dropdown-item" href="{% url 'delete_repository' repository.id %}">Delete</a></li>
      <div class="dropdown-divider"></div>
      <li><a class="dropdown-item" href="{% url 'scan_repository' repository.id %}">Scan Now</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="card shadow">
  <div class="card-header">
    Repository {{ repository.location }} ({{ page_obj.paginator.count }} archives)
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Size (original/compressed/deduplicated)</th>
					<th scope="col">Time</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for archive in object_list %}
        <tr>
          <td>
            <a class="" href="{% url 'archive' archive.id %}">
              <img style="height: 25px" src="{% static 'tbw_core/adwaita_scalable/mimetypes/package-x-generic-symbolic.svg' %}"/> {{ archive.name }}
            </a>
          </td>
          <td>{{ archive.original_size|filesizeformat }} / {{ archive.compressed_size|filesizeformat }} / {{ archive.deduplicated_size|filesizeformat }}</td>
          <td>{{ archive.time }}</td>
          <td>
            <a type="button" class="btn btn-warning btn-sm" href="{% url 'scan_archive' archive.id %}">
              <img class="img-fluid" src="{% static 'tbw_core/adwaita_scalable/actions/view-refresh-symbolic.svg' %}" title="Scan"/>
            </a>
            <a type="button" class="btn btn-warning btn-sm" href="{% url 'delete_archive' archive.id %}">
              <img class="img-fluid" src="{% static 'tbw_core/adwaita_scalable/places/user-trash-symbolic.svg' %}" title="Delete"/>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %}
      {% include "tbw_core/_pagination.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}